{% extends "base.html.twig" %}

{% block body %}
	<body class="template-color-1 nft-body-connect count_bg--4">
		<div class="slider-area">
			<div class="container-fluid padding-contorler-am-slide-11">
				<div class="row d-flex align-items-center">
					<div class="col-lg-12 col-xl-6 order-2 order-xl-1 home-11-slide-padding">
						<h2 class="title" data-sal-delay="200" data-sal="slide-up" data-sal-duration="800">Explorez l'univers de l'art numérique, collectionnez
							et vendez des
							<br>
							<span class="gradient-title">CARTEs.</span>
						</h2>
						<p class="slide-disc" data-sal-delay="300" data-sal="slide-up" data-sal-duration="800">Explorez un univers d'art numérique et trouvez des ensembles de cartes originales pour ajouter à votre collection. Achetez et vendez facilement des cartes numériques sur notre plateforme.</p>
						<div class="button-group">
							<a class="btn btn-large btn-primary" href="/login" data-sal-delay="400" data-sal="slide-up" data-sal-duration="800">Commencer</a>
						</div>
						<div class="odometer-area-slide ">
							<div class="single-odometer" data-sal-delay="400" data-sal="slide-left" data-sal-duration="800">
								<h3 class="counter">
									<span class="odometer" data-count="{{cardsCount}}">00</span>
									<span class="counter-label">Cartes</span>
								</h3>
							</div>
							<div class="single-odometer" data-sal-delay="600" data-sal="slide-left" data-sal-duration="800">
								<h3 class="counter">
									<span class="odometer" data-count="1000">00</span>
									<span class="counter-label">Transactions</span>
								</h3>
							</div>
							<div class="single-odometer" data-sal-delay="800" data-sal="slide-left" data-sal-duration="800">
								<h3 class="counter">
									<span class="odometer" data-count="{{cardsCount}}">00</span>
									<span class="counter-label">Utilisateurs</span>
								</h3>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-xl-6 order-1 order-xl-2">
						<div class="banner-right-feature-product " data-sal-delay="300" data-sal="slide-left" data-sal-duration="800">
							{% for card in bestCard %}
								<div class="single-slide-product" data-sal-delay="700" data-sal="slide-left" data-sal-duration="800">
									<div class="product-style-one tilt">
										<div class="card-thumbnail">
											<a href="product-details.html"><img src="{{card.image}}" alt="NFT_portfolio"></a>
											<div class="countdown" data-date="2023-11-09">
												<div class="countdown-container days">
													<span class="countdown-value">87</span>
													<span class="countdown-heading">D's</span>
												</div>
												<div class="countdown-container hours">
													<span class="countdown-value">23</span>
													<span class="countdown-heading">H's</span>
												</div>
												<div class="countdown-container minutes">
													<span class="countdown-value">38</span>
													<span class="countdown-heading">Min's</span>
												</div>
												<div class="countdown-container seconds">
													<span class="countdown-value">27</span>
													<span class="countdown-heading">Sec</span>
												</div>
											</div>
										</div>
										<a href="product-details.html">
											<span class="product-name mt--20 large-product-title">{{card.name}}</span>
										</a>
										<div class="bid-react-area">
											<div class="last-bid">{{card.price}}C7</div>
											<div class="react-area">
												<svg viewbox="0 0 17 16" fill="none" width="16" height="16" class="sc-bdnxRM sc-hKFxyN kBvkOu">
													<path d="M8.2112 14L12.1056 9.69231L14.1853 7.39185C15.2497 6.21455 15.3683 4.46116 14.4723 3.15121V3.15121C13.3207 1.46757 10.9637 1.15351 9.41139 2.47685L8.2112 3.5L6.95566 2.42966C5.40738 1.10976 3.06841 1.3603 1.83482 2.97819V2.97819C0.777858 4.36443 0.885104 6.31329 2.08779 7.57518L8.2112 14Z" stroke="currentColor" stroke-width="2"></path>
												</svg>
												<span class="number">322</span>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
							<div class="badge-inner" data-sal-delay="900" data-sal="slide-left" data-sal-duration="1000">
								<img class="image-1" src="assets/images/banner/badge.png" alt="banner_badge">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="category-area pt--70">
			<div class="container">
				<div class="row g-5">
					<div class="col-lg-3 col-xl-2 col-md-4 col-sm-6" data-sal-delay="200" data-sal="slide-up" data-sal-duration="800">
						<a class="category-style-one" href="#">
							<i class="feather-image"></i>
							<span class="category-label">Art</span>
						</a>
					</div>
					<div class="col-lg-3 col-xl-2 col-md-4 col-sm-6" data-sal-delay="300" data-sal="slide-up" data-sal-duration="800">
						<a class="category-style-one" href="#">
							<i class="feather-image"></i>
							<span class="category-label">Anime</span>
						</a>
					</div>
					<div class="col-lg-3 col-xl-2 col-md-4 col-sm-6" data-sal-delay="400" data-sal="slide-up" data-sal-duration="800">
						<a class="category-style-one" href="#">
							<i class="feather-image"></i>
							<span class="category-label">Art Digital</span>
						</a>
					</div>
					<div class="col-lg-3 col-xl-2 col-md-4 col-sm-6" data-sal-delay="500" data-sal="slide-up" data-sal-duration="800">
						<a class="category-style-one" href="#">
							<i class="feather-grid"></i>
							<span class="category-label">Série TV</span>
						</a>
					</div>
					<div class="col-lg-3 col-xl-2 col-md-4 col-sm-6" data-sal-delay="600" data-sal="slide-up" data-sal-duration="800">
						<a class="category-style-one" href="#">
							<i class="feather-grid"></i>
							<span class="category-label">Film</span>
						</a>
					</div>
					<div class="col-lg-3 col-xl-2 col-md-4 col-sm-6" data-sal-delay="700" data-sal="slide-up" data-sal-duration="800">
						<a class="category-style-one" href="#">
							<i class="feather-grid"></i>
							<span class="category-label">Autre</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="rn-new-items rn-section-gapTop">
			<div class="container">
				<div class="row mb--50 align-items-center">
					<div class="col-lg-6 col-md-6 col-sm-6 col-12">
						<h3 class="title mb--0" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
							Cartes les plus récentes</h3>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-12 mt_mobile--15">
						<div class="view-more-btn text-start text-sm-end" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
							<a class="btn-transparent" href="/login">TOUT VOIR<i data-feather="arrow-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="row g-5">
					{% for card in cardDiscovery %}
						<div data-sal="slide-up" data-sal-delay="150" data-sal-duration="800" class="col-5 col-lg-4 col-md-6 col-sm-6 col-12">
							<div class="product-style-one no-overlay">
								<div class="card-thumbnail">
									<a href="product-details.html"><img src="{{card.image}}" alt="NFT_portfolio"></a>
								</div>
								<div class="product-share-wrapper">
									<div class="profile-share">
										<a href="author.html" class="avatar" data-tooltip="Jone lee"><img src="/img/avatar.png" alt="Nft_Profile"></a>
										<a class="more-author-text" href="#">Username</a>
									</div>
									<div class="share-btn share-btn-activation dropdown">
										<button class="icon" data-bs-toggle="dropdown" aria-expanded="false">
											<svg viewbox="0 0 14 4" fill="none" width="16" height="16" class="sc-bdnxRM sc-hKFxyN hOiKLt">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 2C3.5 2.82843 2.82843 3.5 2 3.5C1.17157 3.5 0.5 2.82843 0.5 2C0.5 1.17157 1.17157 0.5 2 0.5C2.82843 0.5 3.5 1.17157 3.5 2ZM8.5 2C8.5 2.82843 7.82843 3.5 7 3.5C6.17157 3.5 5.5 2.82843 5.5 2C5.5 1.17157 6.17157 0.5 7 0.5C7.82843 0.5 8.5 1.17157 8.5 2ZM11.999 3.5C12.8274 3.5 13.499 2.82843 13.499 2C13.499 1.17157 12.8274 0.5 11.999 0.5C11.1706 0.5 10.499 1.17157 10.499 2C10.499 2.82843 11.1706 3.5 11.999 3.5Z" fill="currentColor"></path>
											</svg>
										</button>
										<div class="share-btn-setting dropdown-menu dropdown-menu-end">
											<button type="button" class="btn-setting-text share-text" data-bs-toggle="modal" data-bs-target="#shareModal">
												Share
											</button>
											<button type="button" class="btn-setting-text report-text" data-bs-toggle="modal" data-bs-target="#reportModal">
												Report
											</button>
										</div>
									</div>
								</div>
								<a href="product-details.html">
									<span class="product-name">{{card.name}}</span>
								</a>
								<div class="bid-react-area">
									<div class="last-bid">{{card.price}}C7</div>
									<div class="react-area">
										<svg viewbox="0 0 17 16" fill="none" width="16" height="16" class="sc-bdnxRM sc-hKFxyN kBvkOu">
											<path d="M8.2112 14L12.1056 9.69231L14.1853 7.39185C15.2497 6.21455 15.3683 4.46116 14.4723 3.15121V3.15121C13.3207 1.46757 10.9637 1.15351 9.41139 2.47685L8.2112 3.5L6.95566 2.42966C5.40738 1.10976 3.06841 1.3603 1.83482 2.97819V2.97819C0.777858 4.36443 0.885104 6.31329 2.08779 7.57518L8.2112 14Z" stroke="currentColor" stroke-width="2"></path>
										</svg>
										<span class="number">32</span>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="rn-top-top-seller-area nice-selector-transparent rn-section-gapTop">
			<div class="container">
				<div class="row  mb--30">
					<div class="col-12 justify-sm-center d-flex">
						<h3 class="title" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">Top vendeur en</h3>
						<select>
							<option data-display="1 day">
								1 jour</option>
							<option value="1">7 Jours</option>
							<option value="2">15 Jours</option>
							<option value="4">30 Jours</option>
						</select>
					</div>
				</div>
				<div class="row justify-sm-center g-5 top-seller-list-wrapper">
					{% for user in bestUser %}
						<div data-sal="slide-up" data-sal-delay="150" data-sal-duration="800" class="col-5 col-lg-3 col-md-4 col-sm-6 top-seller-list">
							<div class="top-seller-inner-one">
								<div class="top-seller-wrapper">
									<div class="thumbnail varified">
										<a href="author.html"><img src="{{user.avatar}}" alt="Nft_Profile"></a>
									</div>
									<div class="top-seller-content">
										<a href="author.html">
											<h6 class="name seller-elipsis">{{user.username}}</h6>
										</a>
										<span class="count-number">
											${{user.wallet}}
										</span>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="rn-collection-area rn-section-gapTop">
			<div class="container">
				<div class="row mb--50 align-items-center">
					<div class="col-lg-6 col-md-6 col-sm-6 col-12">
						<h3 class="title mb--0" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">Top Collection</h3>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-12 mt_mobile--15">
						<div class="view-more-btn text-start text-sm-end" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
							<a class="btn-transparent" href="#">TOUT VOIR<i data-feather="arrow-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="row g-5">
					{% for collection in collections %}
						<div data-sal="slide-up" data-sal-delay="150" data-sal-duration="800" class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-12">
							<a href="product-details.html" class="rn-collection-inner-one">
								<div class="collection-wrapper">
									<div class="collection-big-thumbnail">
										<img src="./uploads/collection/{{collection.cover}}" alt="Nft_Profile">
									</div>
									<div class="collenction-small-thumbnail">
										<img src="assets/images/collection/collection-sm-01.jpg" alt="Nft_Profile">
										<img src="assets/images/collection/collection-sm-02.jpg" alt="Nft_Profile">
										<img src="assets/images/collection/collection-sm-03.jpg" alt="Nft_Profile">
									</div>
									<div class="collection-profile">
										<img src="./uploads/collection/{{collection.logo}}" alt="Nft_Profile">
									</div>
									<div class="collection-deg">
										<h6 class="title">{{collection.name}}</h6>
										<span class="items">{{collection.cards|length}}
											Cartes</span>
									</div>
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="nu-subscribe-area rn-section-gapTop" data-sal-delay="200" data-sal="slide-up" data-sal-duration="800">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="subscribe-wrapper_1 text-center">
							<h3 class="title mb--10">Rejoignez notre newsletter</h3>
							<p class="subtitle">Recevez des cadeaux hebdomadaire GRATUITEMENT dans votre boîte de réception</p>
							<div class="subscribe-input-wrapper">
								<div class="input-group">
									<input type="email" class="form-control bg-color--2" placeholder="Votre email" aria-label="Recipient's email">
									<div class="input-group-append">
										<button class="btn btn-primary-alta btn-outline-secondary" type="button">S'inscrire</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="rn-progress-parent">
			<svg class="rn-back-circle svg-inner" width="100%" height="100%" viewbox="-1 -1 102 102">
				<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
			</svg>
		</div>
	</body>
{% endblock %}
